@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  width: fixed;
  list-style: none;
}; 
 
a {
  text-decoration: none;
}

html, body { 
  background: url('https://images.unsplash.com/photo-1564667005686-cce951e72bd0?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60') no-repeat center center fixed; 
  -webkit-background-size: cover;
  position: static;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  list-style: none;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}


p {
  position: relative;
  z-index: 102;
  color: white;
}
